
# Gemini API Key
GEMINI_API_KEY=hjkhjhjhjkhj

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=feosync
DB_PASSWORD=feosync_pass
DB_NAME=feosync_db

# Google Authentication
GOOGLE_CLIENT_ID=your_google_client_id
# JWT Secret Key
JWT_SECRET_KEY=your_jwt_secret_key

# Facebook API Credentials

META_APP_ID=ton_meta_app_id
META_APP_SECRET=ton_meta_app_secret
META_REDIRECT_URI=http://localhost:8000/api/v1/fb/oauth/callback

# Mail configuration
MAIL_USERNAME=ton@gmail.com
MAIL_PASSWORD=ton_app_password_gmail
MAIL_FROM=ton@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

# ai generation configuration
AI_CAPTION_LIMIT_PER_MONTH=50   
AI_IMAGE_LIMIT_PER_MONTH=20  