APP_NAME=FeoSync
APP_ENV=development    # Possible values: development, staging, production
APP_DEBUG=True
SECRET_KEY=your_jwt_secret_key   
FIRST_ADMIN_EMAIL=admin@feosync.com

# API Key
GEMINI_API_KEY=hjkhjhjhjkhj
GROQ_API_KEY=groq_xxxxxxxxxxxxxxxxxxxxxxxx

# Database configuration
DATABASE_URL=postgresql://feosync:feosync_pass@localhost:5432/feosync_db

# Google Authentication
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret


# Facebook API Credentials

META_APP_ID=ton_meta_app_id
META_APP_SECRET=ton_meta_app_secret
META_GRAPH_URL=https://graph.facebook.com/v25.0/

# Mail configuration
MAIL_USERNAME=ton@gmail.com
MAIL_PASSWORD=ton_app_password_gmail
MAIL_FROM=ton@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com


# ai generation configuration
AI_CAPTION_LIMIT_PER_MONTH=50   
AI_IMAGE_LIMIT_PER_MONTH=20  

# URL
SERVER_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000


# ====== sans docker
REDIS_HOST="localhost"
REDIS_PORT=6379
BROKER="redis://localhost:6379/0"
BACKEND="redis://localhost:6379/0"

#====== WITH DOCKER
REDIS_HOST="redis"
REDIS_PORT=6379
BROKER="redis://redis:6379/0"
BACKEND="redis://redis:6379/0"


# ============WEBHOOK
WEBHOOK_TOKEN="the audio2003"

STRIPE_API_KEY=sk_test_XXXXXXXXXXXXXXXXXXXXXXXX

QSTASH_TOKEN=xxx        # depuis upstash.com

