alembic
asyncpg
celery[redis]
fastapi
fastapi-mail
google-genai
google-api-python-client
google-auth-oauthlib
groq
httpx
Jinja2
pillow
psycopg2-binary
pydantic
pydantic-settings
PyJWT
pytest
pytest-asyncio
python-dotenv
python-multipart
redis
replicate
SQLAlchemy
stripe
structlog
tenacity
uvicorn[standard]